{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>
<center>
    <h2> Reset Password </h2>
    </center>
<form action="/forgetpassword" method="post">
    <center>
        <label> Enter Email </label><br>
        <input type="email" name="email" required placeholder= "Enter Email" value="{{email if email}}"><br>
        <label> New Password </label><br>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Enter Password"><br>
        <label> Re-Enter New Password </label><br>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Enter Password"><br>
        <input type="submit">
    </center>
</form>
<div>
</div>
</body>
</html>
{%endblock%}