{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<center>
    <h2> fill in details here </h2>
    </center>
<form action="/signup" method="post">
    <center>
        <label> Name </label><br>
        <input type="text" name="name" required placeholder="Enter Username" ><br>
        <label> Email/Mobile </label><br>
        <input type="text" name="email" required placeholder= "Enter Email/Mobile" value="{{email if email}}" ><br>
        <label> Password </label><br>
        <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Enter Password"><br>
        
        <input type="submit">
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </center>
</form>
<div>
</div>
</body>
</html>
{%endblock%}